language: go
go:
  - 1.9.x
sudo: required
dist: trusty
before_install:
  - sudo apt-get update
  - sudo apt-get install opencl-headers nvidia-opencl-dev
install:
  - go get -v github.com/golang/dep/cmd/dep
  - dep ensure
  - go build -tags opencl
  - go get -v github.com/alecthomas/gometalinter
  - gometalinter --install
script:
  - export PATH=$PATH:$HOME/gopath/bin
  - ./goclean.sh
